
.donate-now-container {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f7fafc;
}

.donate-now-container p {
    font-size: 16px;
}

.qr-code-container img {
    width: 500px;
    margin:20px auto;
    display: inline-block;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.donate-now-container h1 {
    padding-top: 10px;
}